@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

p {
    text-align: center;
  }

h1 {
    text-align: center;
  }

body {
    text-align: center;
}
form {
    display: inline-block;
}
/* Hide the default radio button */
input[type="radio"] {
  display: none;
}

/* Style the custom radio button */
input[type="radio"] + label {
  position: relative;
  cursor: pointer;
  display: block; /* Ensures each radio button and label combination is on its own line */
  margin-bottom: 10px; /* Adjust the margin to control the spacing */
  padding: 10px 10px 10px 30px; 
  background-color: #c6ffe9; /* Background color for the label */
}

/* Style the custom radio button's circle */
input[type="radio"] + label:before {
  content: "";
  position: absolute;
  left: 10px; /* Adjust left positioning */
  top: 50%; /* Position at the vertical center */
  transform: translateY(-50%);
  width: 16px; /* Diameter of the circle */
  height: 16px; /* Diameter of the circle */
  border: 2px solid #aaa;
  border-radius: 50%;
}

/* Style the custom radio button when checked */
input[type="radio"]:checked + label:before {
  background-color: #2196F3; /* Color of the circle when checked */
}


.nice_button {
  font-family: 'DM Sans', 'Roboto', sans-serif;
  background-color: #4CAF50; /* Initial background color */
  color: white; /* Text color */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.nice_button:hover {
  background-color: #45a049; /* Color when hovered */
}

.nice_button:active {
  background-color: #3e8e41; /* Color when clicked */
}

#answer{
  color:white;
}